<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"  crossorigin="anonymous">
<div class="container-fluid d-flex justify-content-center">
    <div class="d-flex flex-column">
      <div class="bd-highlight d-flex justify-content-center border border-dark p-3">
        <h1>Liste des voitures</h1>
    </div>

    <div class="bd-highlight d-flex justify-content-center">
      <input id="Ajout_Liste" type="text" name="Ajout_Liste" placeholder="Ajout Liste" [(ngModel)]="titreU"> 


      <button id="Ajout_Liste_button" class="btn btn-primary" value="Ajouter" (click)='ajouterNewListe("test",1,[])'>
          Ajouter
      </button>

  </div>
  <div class="row ">
    <div class="col-6 justify-content-center mt-3" *ngFor="let ListeIndentation of Liste_Marque" >
        <div class="d-flex   justify-content-center ">


          <h3>  {{ListeIndentation.nom}} </h3> <button class="btn btn-outline-danger m-1" >Supprimer</button>


            <input id="EnCours_taches" type="text" name="En_cours" placeholder="Veuillez add une voiture" [(ngModel)]="titreA"
            (ngModelChange)="NouvelleVoiture.marque=ListeIndentation.nom" (click)='ajouter(ListeIndentation)' > 

            <button id="EnCours_tache_button" class="btn btn-primary" value="Ajouter">
                Ajouter
            </button>
        </div>
        <div class="d-flex  justify-content-center">
          <div id="listeTaches" class="d-flex  flex-column">
              <div cdkDropList  [cdkDropListData]="ListeIndentation.voiture" id="{{ListeIndentation.nom}}"
          class="item-list"  [cdkDropListConnectedTo]="filter">
          Liste des taches:
          <div class="d-flex justify-content-between m-1" *ngFor="let voiture of ListeIndentation.voiture" >
              <input  type="checkbox" [(ngModel)]="voiture.modele">
              <div  >{{voiture.modele}}</div>
              <button class="btn btn-outline-danger m-1" >Supprimer</button>
          </div>
          </div>
      </div>
  </div>